# Archivos y carpetas a ignorar
dist/
build/
*.spec
*.pyc
__pycache__/
.env
venv/
env/
.idea/
.vscode/
*.log
output/
*.iss
*.exe
.DS_Store
Thumbs.db
.envrc
.env.local
.env.*.local
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pyre/
.pytype/
cython_debug/
instance/
.webassets-cache/
celerybeat-schedule
celerybeat.pid
*.sqlite
